<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About:::TRAVELLO</title>
</head>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;"><b>ABOUT</b></h1>
    <h3><b>About Us</b></h3>
    <p>
        The greatest moments of lives need to be discovered and we work here to arrange those moments with love & care. Travello is a Travel & Tourism company which has been traveling its course towards making global tourism accessible to everyone. Headquartered in Cochin, Travello has acquired an incredible reputation in the markets. We have firmly established ourselves in the industry in a short period. Since we have touched the industry, we have ensured quality service with competent price that anyone can rely on.
    </p>

    <h3><b>Mission</b></h3>
    <p>
        Primarily our mission is to ensure a friendly service. The goal of everyone at Travello Tours & Travels is to provide superbly well organised and personalized tours that will inspire, replenish and astonish our customers for a price that is considered outstanding value for money. We have the best qualified and trained professional staff to accomplish this.

        Our range of tours is created by certified specialists with years of experience and after in-depth destination research.These include: Self-drive Holidays, Honeymoon specials, Safari Holidays, Luxury Escapes and Cruising.
    </p>
    <h3><b>Vision</b></h3>
    <p>
        Our vision is to fortify our position as a major tourism company by ceaselessly growing new connections. We focus on providing our customers with the best tour packages at the most affordable rates. We creatively and aggressively market all services.We offer our clients unique benefits, distinguished by their originality, cost effectiveness and efficiency. We develop close, mutually productive relationships with our airline, rental car, and hotel suppliers. We work with those associates in ways that are good for their businesses, for Travel-On, and, most of all, for our clients. We foster a sense of urgency and a receptivity to new ideas. This keeps us ahead of our competition, striving for better service and customer benefits.

        We follow the principles of superior service to achieve continual improvement in everything we do. Whatever level of performance we have achieved today, we know we can, and must, surpass it tomorrow.
    </p>

</div>
</div>

</html>